ase==3.15.0
autopep8==1.3.3
blinker==1.4
brewer2mpl==1.4.1
certifi==2017.7.27.1
configparser==3.5.0
FireWorks==1.6.0
flake8-docstrings==1.1.0
flake8-polyfill==1.0.1
flake8==3.3.0
flask-paginate==0.4.5
future==0.16.0
gunicorn==19.1.0
importmagic==0.1.7
json-rpc==1.10.3
lockfile==0.12.2
mccabe==0.6.1
monty==1.0.0
palettable==3.1.0
pathspec==0.5.5
pybeautifier==0.1.1
pycodestyle==2.3.1
pydispatcher==2.0.5
pydocstyle==2.0.0
pylama==7.4.3
pylama-pylint==3.0.1
pymatgen==2017.11.27
pymongo==3.4.0
python-daemon==2.1.2
python-language-server==0.8.0
pyyaml==3.12
ruamel.yaml==0.15.34
setuptools==27.2.0
six==1.10.0
snowballstemmer==1.2.1
spglib==1.10.1.4
tabulate==0.8.1
tqdm==4.15.0
yamllint==1.10.0
yapf==0.18.0
